* {
  font-family: Helvetica Neue;
}

body {
  background-color: #7c85bf !important;
  margin: auto;
  overflow: auto;
  /* background: linear-gradient(315deg, #7c85bf, #7d8cef 60%, #7983c4 80%); 
  animation: gradient 10s ease infinite;
  background-size: 400% 400%;
  background-attachment: fixed; */
}

@keyframes gradient {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}

/* RETURN BUTTON */
.return {
  transition: all 0.25s ease-in-out;
  position: fixed;
  bottom: 0;
  right: 0;
  display: inline-flex;
  width: 10%;
  opacity: 50%;
}

/* NAVBAR */
@keyframes blink {
  50% {
    border-color: transparent;
  }
}

.button {
  background-color: white !important;
  border: none;
  padding: 10px 25px;
  text-align: center;
  margin: 4px 2px;
  cursor: pointer;
  font-size: 16px;
  color: rgb(45, 45, 80);
  border-radius: 10px;
  width: 25%;
}

.button:hover {
  color: rgb(25, 25, 80) !important;
}

/* INTRO */
#particles-js {
  position: relative;
  width: 100%;
  z-index: 0;
  margin-top: 25vh;
  margin-bottom: 50vh;
}

/* ABOUT, EXPERIENCE, PROJECTS */
.anchor {
  position: relative;
  visibility: hidden;
}

.aboutme, .experience, .projects {
  margin-top: 15vh;
  margin-bottom: 25vh;
}

.row, .bottom {
  width: 100%;
}

.column-2 {
  display: inline-block;
  width: 40%;
}

/* TEXT-FONT */
h1, h3, h4, h5 {
  color: rgb(255, 255, 255);
}

li, h6, p, a {
  color: rgba(0, 0, 0, 100%) !important;
  font-size: 14px;
}

a:hover {
  color: rgb(25, 25, 80) !important;
}

