* {
  font-family: Helvetica Neue;
}

body {
  background-color: #2F2F2F !important;
  margin: auto;
  overflow: auto;
  /*
  background: linear-gradient(315deg, #747ebc, #7c85bf 60%, #757fbe 80%); 
  animation: gradient 10s ease infinite;
  background-size: 400% 400%;
  background-attachment: fixed;
  */
}

@keyframes gradient {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}

/* Typewriter Effect */
.typewriter {
  overflow: hidden;
  border-right: .1em solid rgb(255, 255, 255);
  white-space: nowrap;
  animation: 
    typing 4s steps(40, end),
    blink-caret 1s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: rgb(255, 255, 255); }
}

/* RETURN BUTTON */
.return {
  transition: all 0.25s ease-in-out;
  position: fixed;
  bottom: 5vh;
  left: 2.5vh;
  display: inline-flex;
  width: 5%;
  z-index: 2;
}

/* NAVBAR */
@keyframes blink {
  50% {
    border-color: transparent;
  }
}

.button {
  background-color: rgba(50, 255, 0, 0.1) !important;
  border: none;
  padding: 10px 25px;
  text-align: center;
  margin: 4px 2px;
  cursor: pointer;
  font-size: 16px;
  color: rgb(255, 255, 255);
  border-radius: 10px;
  width: 25%;
}

/* INTRO, PARTICLES */
.intro {
  position: relative;
  z-index: 1;
  margin-top: 12.5vh;
  margin-bottom: 10vh;
}

canvas {
  height: 100%;
  position: absolute;
  z-index: 0;
}

/* ABOUT, EXPERIENCE, PROJECTS */
h4 {
  text-align: center;
}

.anchor {
  position: relative;
  visibility: hidden;
}

.aboutme, .experience, .projects {
  position: relative;
  margin-top: 12.5vh;
  margin-bottom: 10vh;
}

.row, .bottom {
  width: 100%;
}

.column-2 {
  display: inline-block;
  width: 40%;
}

/* TEXT-FONT */
h1, h3, h4, h5 {
  color: rgb(255, 255, 255);
}

li, h6, p, a {
  color: rgb(255, 255, 255) !important;
  font-size: 14px;
}

a:hover {
  color: rgb(210, 210, 100) !important;
}

